#flowChart {
  margin-top: 52px;
}

.flowChartOnSave {
  margin-top: 40px;
}

.createChartButton {
  margin-top: 15%;
}

.flowChartSaveButton {
  margin-top: 8rem;
}

.toast {
  margin-top: -150px;
}

.dropDownButton {
  margin-right: 50%;
}

.popUp {
  height: 70px;
}

.mr-auto {
  cursor: pointer;
}

.mr-auto:hover {
  text-decoration: underline;
}

.mr-auto:active {
  text-decoration: underline;
}

.submitButton {
  margin-left: 30%;
  margin-top: 3.5%;
}

.saveButton {
  margin-top: 2em;
}

.saveTab {
  margin-right: 80%;
}

.savedCharts {
  margin-top: 10%;
}

.popupButton {
  position: fixed;
  margin-left: 3em;
  width: 4.5rem;
  margin-top: 1rem
}